Pandas exercise
```python
# import necessary libraries
import numpy as np
import pandas as pd
```
Series
1. Create a series from the below list:
attempts = [1, 3, 2, 3, 2, 3, 1, 1, 2, 1]
2. Find the first person’s number of attempts.
3. Find the first five people’s number of attempts.
4. Find the last three people’s number of attempts.
Here's how you can accomplish each of the tasks using NumPy and Pandas:

```python
import pandas as pd

# Create a series from the list
attempts = [1, 3, 2, 3, 2, 3, 1, 1, 2, 1]
attempts_series = pd.Series(attempts)

# Find the first person’s number of attempts
first_attempt = attempts_series.iloc[0]
print("First person's number of attempts:", first_attempt)

# Find the first five people’s number of attempts
first_five_attempts = attempts_series.iloc[:5]
print("First five people's number of attempts:\n", first_five_attempts)

# Find the last three people’s number of attempts
last_three_attempts = attempts_series.iloc[-3:]
print("Last three people's number of attempts:\n", last_three_attempts)
```

Output:
```
First person's number of attempts: 1
First five people's number of attempts:
 0    1
1    3
2    2
3    3
4    2
dtype: int64
Last three people's number of attempts:
 7    1
8    2
9    1
dtype: int64
```

Explanation:
1. We create a Pandas Series from the list `attempts`.
2. To find the first person's number of attempts, we use `.iloc[0]`, which selects the first element of the series.
3. To find the first five people's number of attempts, we use `.iloc[:5]`, which selects the first five elements of the series.
4. To find the last three people's number of attempts, we use `.iloc[-3:]`, which selects the last three elements of the series.

In [2]:
import pandas as pd

# Create a series from the list
attempts = [1, 3, 2, 3, 2, 3, 1, 1, 2, 1]
attempts_series = pd.Series(attempts)

# Find the first person’s number of attempts
first_attempt = attempts_series.iloc[0]
print("First person's number of attempts:", first_attempt)

# Find the first five people’s number of attempts
first_five_attempts = attempts_series.iloc[:5]
print("First five people's number of attempts:\n", first_five_attempts)

# Find the last three people’s number of attempts
last_three_attempts = attempts_series.iloc[-3:]
print("Last three people's number of attempts:\n", last_three_attempts)

First person's number of attempts: 1
First five people's number of attempts:
 0    1
1    3
2    2
3    3
4    2
dtype: int64
Last three people's number of attempts:
 7    1
8    2
9    1
dtype: int64

# DataFrames
1. Create and display a DataFrame from the below dictionary and list of index labels.
```python
exam_data = {'name': ['Anne', 'Kofi', 'Ridhwaan', 'Zara', 'Muhammad', 'Donald', 'Isabella', 'Sarah', 'Paula', 'John'],
             'score': [12.5, 9, 16.5, None, 9, 20, 14.5, None, 8, 19],
             'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1], 
             'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['Student ' + letter for letter in ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']]
```
2. Display the first three rows of the data frame.
3. Display the name and score columns of the data frame.
4. Display the name and score columns and rows 1, 3, 4, and 8.
5. Display the rows where the number of attempts is greater than 2.
6. Display the rows where score is greater or equal than a pass rate of 10.

In [8]:
import pandas as pd

# Define the exam data dictionary and index labels
exam_data = {'name': ['Anne', 'Kofi', 'Ridhwaan', 'Zara', 'Muhammad', 'Donald', 'Isabella', 'Sarah', 'Paula', 'John'], 
             'score': [12.5, 9, 16.5, None, 9, 20, 14.5, None, 8, 19], 
             'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1], 
             'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}

labels = ['Student ' + letter for letter in ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']]

# Create DataFrame from the dictionary with index labels
df = pd.DataFrame(exam_data, index=labels)

# Display the DataFrame
print("DataFrame:")
print(df)

# Display the first three rows of the DataFrame
print("\nFirst three rows:")
print(df.head(3))

# Display the name and score columns of the DataFrame
print("\nName and score columns:")
print(df[['name', 'score']])

# Display the name and score columns and rows 1, 3, 4, and 8
print("\nName and score columns, rows 1, 3, 4, and 8:")
print(df.loc[['Student b', 'Student d', 'Student e', 'Student h'], ['name', 'score']])

# Display the rows where the number of attempts is greater than 2
print("\nRows where the number of attempts is greater than 2:")
print(df[df['attempts'] > 2])

# Display the rows where score is greater or equal than a pass rate of 10
print("\nRows where score is greater or equal than a pass rate of 10:")
print(df[df['score'] >= 10])
# Display the rows where the score is above 15 and the student has only made one attempt
print("\nRows where score is above 15 and the student has only made one attempt:")
print(df[(df['score'] > 15) & (df['attempts'] == 1)])

DataFrame:
               name  score  attempts qualify
Student a      Anne   12.5         1     yes
Student b      Kofi    9.0         3      no
Student c  Ridhwaan   16.5         2     yes
Student d      Zara    NaN         3      no
Student e  Muhammad    9.0         2      no
Student f    Donald   20.0         3     yes
Student g  Isabella   14.5         1     yes
Student h     Sarah    NaN         1      no
Student i     Paula    8.0         2      no
Student j      John   19.0         1     yes

First three rows:
               name  score  attempts qualify
Student a      Anne   12.5         1     yes
Student b      Kofi    9.0         3      no
Student c  Ridhwaan   16.5         2     yes

Name and score columns:
               name  score
Student a      Anne   12.5
Student b      Kofi    9.0
Student c  Ridhwaan   16.5
Student d      Zara    NaN
Student e  Muhammad    9.0
Student f    Donald   20.0
Student g  Isabella   14.5
Student h     Sarah    NaN
Student i     Paula    8.0
Student j      John   19.0

Name and score columns, rows 1, 3, 4, and 8:
               name  score
Student b      Kofi    9.0
Student d      Zara    NaN
Student e  Muhammad    9.0
Student h     Sarah    NaN

Rows where the number of attempts is greater than 2:
             name  score  attempts qualify
Student b    Kofi    9.0         3      no
Student d    Zara    NaN         3      no
Student f  Donald   20.0         3     yes

Rows where score is greater or equal than a pass rate of 10:
               name  score  attempts qualify
Student a      Anne   12.5         1     yes
Student c  Ridhwaan   16.5         2     yes
Student f    Donald   20.0         3     yes
Student g  Isabella   14.5         1     yes
Student j      John   19.0         1     yes

Rows where score is above 15 and the student has only made one attempt:
           name  score  attempts qualify
Student j  John   19.0         1     yes

# Querying DataFrames -
1. Compute the monthly earnings of mortgage applicants, just using Income.
2. Compute the ratio of debts to assets for the mortgage applicants.
3. Display all mortgage applicants who have a Balance greater than £1000.
4. Display all mortgage applicants who have a Balance greater than £1000 and a Debt below £50.
5. Display all loan applicants who have an Income greater than 30,000 who have a 10-year loan, and those with an Income greater than 20,000 who have a 20-year loan (together!)

In [12]:
import pandas as pd

# Load the Mortgage applicants data from file
df=pd.read_csv("data/mortgage_applicants.csv")

# 1. Compute the monthly earnings of mortgage applicants, just using Income.
monthly_earnings = df['Income'] / 12
print("Monthly earnings of mortgage applicants:")
print(monthly_earnings)

# 2. Compute the ratio of debts to assets for the mortgage applicants.
debt_to_assets_ratio = df['Debt'] / df['Balance']
print("\nRatio of debts to assets for mortgage applicants:")
print(debt_to_assets_ratio)

# 3. Display all mortgage applicants who have a Balance greater than £1000.
balance_gt_1000 = df[df['Balance'] > 1000]
print("\nMortgage applicants with Balance greater than £1000:")
print(balance_gt_1000)

# 4. Display all mortgage applicants who have a Balance greater than £1000 and a Debt below £50.
balance_gt_1000_debt_lt_50 = df[(df['Balance'] > 1000) & (df['Debt'] < 50)]
print("\nMortgage applicants with Balance greater than £1000 and Debt below £50:")
print(balance_gt_1000_debt_lt_50)

# 5. Display all loan applicants who have an Income greater than 30,000 who have a 10-year loan, 
# and those with an Income greater than 20,000 who have a 20-year loan (together!)
loan_applicants = df[((df['Income'] > 30000) & (df['Term'] == '10 Years')) |
                     ((df['Income'] > 20000) & (df['Term'] == '20 Years'))]
print("\nLoan applicants with specified criteria:")
print(loan_applicants)

Monthly earnings of mortgage applicants:
0      1468.833333
1      1579.916667
2      1713.333333
3      1824.500000
4      2035.833333
          ...
851    2515.916667
852    3472.416667
853    3068.000000
854    3512.083333
855    2549.500000
Name: Income, Length: 856, dtype: float64

Ratio of debts to assets for mortgage applicants:
0      0.212165
1      1.146093
2      1.312865
3      0.113636
4      0.048203
         ...
851    2.941622
852    0.023105
853    1.671842
854    1.726330
855    2.033717
Length: 856, dtype: float64

Mortgage applicants with Balance greater than £1000:
     Unnamed: 0   ID  Income      Term  Balance  Debt  Score  Default
0             0  567   17626  10 Years     1381   293  228.0    False
4             4  756   24430  10 Years     1224    59  504.0    False
5             5  929   22995  20 Years     1678  1329  384.0    False
6             6  373   21124  10 Years     1135   115  560.0    False
7             7  818   24644  10 Years     1634   105  309.0    False
..          ...  ...     ...       ...      ...   ...    ...      ...
851         851   71   30191  20 Years     1319  3880   55.0     True
852         852  932   41669  20 Years     1385    32  780.0    False
853         853   39   36816  20 Years     1868  3123  366.0     True
854         854  283   42145  20 Years     1447  2498  422.0    False
855         855  847   30594  20 Years     1216  2473  179.0     True

[543 rows x 8 columns]

Mortgage applicants with Balance greater than £1000 and Debt below £50:
     Unnamed: 0   ID  Income      Term  Balance  Debt  Score  Default
12           12  327   18630  20 Years     1316    37  430.0    False
54           54  608   25267  10 Years     1308     2  470.0    False
56           56   67   20528  10 Years     1253    40  511.0    False
59           59  316   16142  10 Years     1251    12  281.0    False
66           66  472   19400  10 Years     1292    24  235.0    False
..          ...  ...     ...       ...      ...   ...    ...      ...
841         841  575   36132  10 Years     1596     1  992.0    False
842         842  324   23597  20 Years     1419     6  465.0    False
847         847   96   26553  20 Years     1805    26  491.0    False
850         850  627   27676  10 Years     1598    39  445.0    False
852         852  932   41669  20 Years     1385    32  780.0    False

[119 rows x 8 columns]

Loan applicants with specified criteria:
     Unnamed: 0   ID  Income      Term  Balance  Debt  Score  Default
5             5  929   22995  20 Years     1678  1329  384.0    False
8             8  284   27138  20 Years      840  1877  251.0    False
22           22  616   22869  20 Years     1150   803  431.0     True
32           32  740   22259  20 Years      985  1906  152.0     True
50           50  789   23557  20 Years      819    79  350.0    False
..          ...  ...     ...       ...      ...   ...    ...      ...
851         851   71   30191  20 Years     1319  3880   55.0     True
852         852  932   41669  20 Years     1385    32  780.0    False
853         853   39   36816  20 Years     1868  3123  366.0     True
854         854  283   42145  20 Years     1447  2498  422.0    False
855         855  847   30594  20 Years     1216  2473  179.0     True

[403 rows x 8 columns]

# Aggregating DataFrames
1. Compute the average Balance of mortgage applicants depending on the Term of their loan.
2. Compute the average Income of mortgage applicants depending on whether they defaulted or not.
3. Compute the average Debt, Income, and Balance of mortgage applicants based on whether they defaulted or not, and the term of their loan.
4. Add a column to the DataFrame called MeanTermIncome, which contains the mean Income of mortgage applicants based on their Term.

In [15]:
import pandas as pd

# Load the Mortgage applicants data from file
df=pd.read_csv("data/mortgage_applicants.csv")

# 1. Compute the average Balance of mortgage applicants depending on the Term of their loan.
average_balance_by_term = df.groupby('Term')['Balance'].mean()
print("Average Balance of mortgage applicants depending on the Term of their loan:")
print(average_balance_by_term)

# 2. Compute the average Income of mortgage applicants depending on whether they defaulted or not.
average_income_by_default = df.groupby('Default')['Income'].mean()
print("\nAverage Income of mortgage applicants depending on whether they defaulted or not:")
print(average_income_by_default)

# 3. Compute the average Debt, Income, and Balance of mortgage applicants based on whether they defaulted or not, 
# and the term of their loan.
average_stats_by_default_and_term = df.groupby(['Default', 'Term']).agg({'Debt': 'mean', 'Income': 'mean', 'Balance': 'mean'})
print("\nAverage Debt, Income, and Balance of mortgage applicants based on whether they defaulted or not, and the term of their loan:")
print(average_stats_by_default_and_term)

# 4. Add a column to the DataFrame called MeanTermIncome, which contains the mean Income of mortgage applicants based on their Term.
df['MeanTermIncome'] = df.groupby('Term')['Income'].transform('mean')
print("\nDataFrame with MeanTermIncome column:")
print(df)

Average Balance of mortgage applicants depending on the Term of their loan:
Term
10 Years    1155.763699
20 Years    1334.095588
Name: Balance, dtype: float64

Average Income of mortgage applicants depending on whether they defaulted or not:
Default
False    30315.666667
True     26438.409091
Name: Income, dtype: float64

Average Debt, Income, and Balance of mortgage applicants based on whether they defaulted or not, and the term of their loan:
                         Debt        Income      Balance
Default Term
False   10 Years   546.523719  28228.009488  1161.590133
        20 Years   631.228216  34880.792531  1344.688797
True    10 Years  1805.561404  23848.526316  1101.894737
        20 Years  1904.935484  31200.451613  1251.741935

DataFrame with MeanTermIncome column:
     Unnamed: 0   ID  Income      Term  Balance  Debt  Score  Default  \
0             0  567   17626  10 Years     1381   293  228.0    False
1             1  523   18959  20 Years      883  1012  187.0    False
2             2  544   20560  10 Years      684   898   86.0    False
3             3  370   21894  10 Years      748    85    NaN    False
4             4  756   24430  10 Years     1224    59  504.0    False
..          ...  ...     ...       ...      ...   ...    ...      ...
851         851   71   30191  20 Years     1319  3880   55.0     True
852         852  932   41669  20 Years     1385    32  780.0    False
853         853   39   36816  20 Years     1868  3123  366.0     True
854         854  283   42145  20 Years     1447  2498  422.0    False
855         855  847   30594  20 Years     1216  2473  179.0     True

     MeanTermIncome
0      27800.559932
1      34461.341912
2      27800.559932
3      27800.559932
4      27800.559932
..              ...
851    34461.341912
852    34461.341912
853    34461.341912
854    34461.341912
855    34461.341912

[856 rows x 9 columns]